$orange: #FE5F1E;
$white: #ffffff;
$blackLight: #282828;
$black: #000000;
$textBlack: #2C2C2C;
$grayLight: #F3F3F3;
$gray: #F9F9F9;
$fonts: ('proxima-nova-bold', 700),
        ('proxima-nova-extrabold', 800),
        ('proxima-nova-regular', 400);

@each $name, $weight in $fonts {
    @font-face {
        font-family: $name;
        src: url('../fonts/#{$name}.woff');
        font-weight: $weight; 
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1235px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #FFDF8C;
    padding: 43px 55px 63px 45px;
}

.wrapper {
    background: $white;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
}