header.header 
    .wrapper.header__line
        .container 
            nav.header__nav 
                .header__nav-logo 
                    a(href="")
                        img(src="./images/logo.webp", alt="") 
                    .header__logo-text 
                        h3.header__logo-title REACT PIZZA
                        span.header__logo-description самая вкусная пицца во вселенной
                .header__nav-cart 
                    a.header__nav-link(href="")
                        button.header__nav-btn 
                            span.header__nav-price 520 ₽
                            span.header__nav-amount 
                                img.header__nav-img(src="./images/basket.svg", alt="")  
                                span 3